.featured {
	position: relative;
	overflow: hidden;
}

.featured_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: calc(100% - 80px);
	max-width: 1600px;
	margin: 0 auto;
	color: var(--blue, #0055D4);
}

.title_container {
	width: 100%;
	display: flex;
	margin-bottom: 40px;
	max-width: 1520px;
}

.featured .title {
	flex: 0.5;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: var(--black, #000);
	white-space: nowrap;
}

.featured .title_bg {
	display: inline-block;
	border-radius: 100px;
	padding: 10px 20px;
	background: #e7d9f1;
}

.featured .title_description {
	flex: 0.5;
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: -0.04em;
	color: var(--black, #000);
	max-width: 500px;
}

.featured .content {
	width: 100vw;
	max-width: 1600px;
	position: relative;
	overflow: hidden;
	background-color: var(--white, #fff);
	border-radius: 5px;
	gap: 30px;
	display: flex;
	flex-direction: column;
}

.cards {
	display: flex;
	gap: 100px;
	width: max-content;
}

.cards:nth-child(1) {
	animation: marquee 22s linear infinite;
}

.cards:nth-child(2) {
	animation: marqueeReverse 28s linear infinite;
}

.cards:nth-child(3) {
	animation: marquee 34s linear infinite;
}

.cards.paused {
	animation-play-state: paused;
}

.card {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
}

.featured .logo {
	display: block;
	height: 32px;
	width: auto;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes marqueeReverse {
	0% {
		transform: translateX(-50%);
	}

	100% {
		transform: translateX(0%);
	}
}

@media (max-width: 768px) {
	.featured_container {
		width: calc(100% - 20px);
	}

	.featured .content {
		gap: 10px;
	}

	.featured .logo {
		height: 18px;
	}

	.featured .title_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 20px;
	}

	.featured .title {
		flex: 1;
		font-weight: 500;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--black, #000);
		white-space: nowrap;
	}

	.featured .title_description {
		flex: 1;
		font-weight: 500;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.04em;
		color: var(--black, #000);
		max-width: 500px;
	}

	.cards {
		gap: 60px;
	}

	.cards:nth-child(1) {
		animation: marquee 18s linear infinite;
	}

	.cards:nth-child(2) {
		animation: marqueeReverse 22s linear infinite;
	}

	.cards:nth-child(3) {
		animation: marquee 36s linear infinite;
	}
}