.header {
	z-index: 99;
	position: relative;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.header_container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	// gap: 25px;
	width: calc(100% - 80px);
	margin: 20px auto;
	color: var(--blue);
	padding: 10px 0px;
	border-radius: 5px;
	background-color: transparent;
}

.header .logo_container {
	display: flex;
	align-items: center;
	gap: 4px;
	position: relative;
	z-index: 99;
	width: 33%;
}

.header .logo {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}

.header .nav {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 66%;
}

.header .nav-list {
	display: flex;
	align-items: center;
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: var(--white);
	white-space: nowrap;
	gap: 40px;
}

.header .nav-link a {
	color: var(--blue);
}

.header .nav.active {
	transform: translateX(0);
	align-items: center;
}

.nav a::after {
	content: '';
	background-color: transparent;
}

.header .nav-list li {
	transition: opacity 0.3s ease;
}

.header .nav-list:hover li {
	opacity: 0.3;
}

.header .nav-list li:hover {
	opacity: 1;
}

.header .btn_container {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.header .btn {
	padding: 20px 50px;
	border-radius: 50px;
	border: 1px solid var(--white);
	padding: 5px 10px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: var(--white);
	white-space: nowrap;
	transition: all 0.3s ease;
}

.header .btn:hover {
	color: var(--black);
	background-color: var(--white);
}

.header .burger {
	position: relative;
	width: 40px;
	height: 20px;
	background: transparent;
	border: none;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.header .burger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	color: var(--black);
	background-color: var(--white);
	transition: transform 0.3s, opacity 0.3s;
}

.header .burger span:nth-child(1) {
	top: 0;
}

.header .burger span:nth-child(2) {
	top: 8px;
}

.header .burger span:nth-child(3) {
	top: 16px;
}

.header .burger.active span:nth-child(1) {
	transform: rotate(30deg) translate(5px, 6px);
}

.header .burger.active span:nth-child(2) {
	opacity: 0;
}

.header .burger.active span:nth-child(3) {
	transform: rotate(-30deg) translate(5px, -7px);
}

.only_mobile {
	display: none;
}

@media (max-width: 1200px) {
	.header_container {
		margin: 10px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		width: calc(100% - 20px);
	}

	.header .burger {
		display: block;
	}

	.header .nav {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100vw;
		height: 100vh;
		padding: 10px;
		padding-top: 90px;
		transform: translateX(110%);
		transition: transform 0.3s ease-in-out;
		background-color: var(--blue);
		z-index: 90;
	}

	.header .nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.header .nav .nav-list {
		position: relative;
		z-index: 90;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-weight: 500;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 110%;
		gap: 15px;
		flex: none;
		color: var(--white);
	}

	.header .nav .nav-list li {
		width: 100%;
		padding: 5px;
		padding-left: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		z-index: 90;
	}

	.header .nav .nav-list li:nth-last-child(1) {
		// border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.header .btn_container {
		margin-top: 15px;
	}

	.header .btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;
		z-index: 90;
	}

	.header .btn:hover {
		background: var(--white);
		color: var(--black);
	}

	.only_mobile {
		display: block;
	}

	.header .nav.active {
		transform: translateX(10px);
		align-items: flex-start;
		padding-top: 30vh;
		position: fixed;
		z-index: 90;
	}
}

@media (max-width: 600px) {
	.header_container {
		padding: 10px 0px;
	}
}