.hero {
	position: relative;
	z-index: 80;
}

.hero {
	margin-top: 0px;
}

.hero_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	background: url("../img/hero_bg.jpg") no-repeat center center / cover;
	color: var(--white);
	height: 805px;
}

.hero .hero_title {
	font-weight: 500;
	font-size: 80px;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 110px;
}

.hero .description_container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.hero .description {
	font-weight: 600;
	font-size: 225px;
	margin: 0 auto;
	line-height: 100%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	text-align: center;
	color: #e7d9f1;
	mix-blend-mode: difference;
	font-size: clamp(44px, 14vw, 225px);
	padding: 0 40px;
}

@media (max-width: 768px) {
	.hero_container {
		height: 90vh;
	}

	.hero .hero_title {
		font-size: 60px;
		max-width: 500px;
		padding-top: 75px;
	}

	.hero .description {
		padding: 0;
	}
}

@media (max-width: 468px) {
	.hero_container {
		height: 90vh;
		max-height: 600px;
	}

	.hero .hero_title {
		font-size: 34px;
		max-width: 300px;
	}
}