@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;

	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--white: #fff;
	--black: #000;
	--black-bg: #080A12;
	--blue: #2C0546;
	--orange: #f76c00;
	--lilac: #9d9d3b;
	--yellow: #e8c21b;

	--font-family: 'Inter', sans-serif;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
	// padding-bottom: 20px;
	background-color: #fff;
}

body {
	margin: 0;
	font-family: var(--font-family);
	position: relative;
}

section {
	margin: 120px auto;
}

main {
	position: relative;
	flex-grow: 1;
}

.container {
	max-width: 1600px;
	// margin: 0 auto;
	padding: 0 40px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

nav a {
	position: relative;
}

ul {
	list-style: none;
}

ul a::after,
nav a::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 0px;
	height: 1px;
	background-color: var(--white);
	transition: all 0.2s ease-in-out;
}

nav a::after {
	background-color: var(--white);
}

ul a:hover::after,
nav a:hover::after {
	width: 100%;
}

.btn_container .btn::after {
	width: 0%;
}

.wrapper {
	width: calc(100% - 80px);
	max-width: 1520px;
	margin: 0 auto;
	position: relative;
}


@media (max-width: 1200px) {
	.container {
		padding: 0 10px;
	}

	section {
		margin: 60px auto;
	}

	.wrapper {
		width: calc(100% - 20px);
		max-width: 1520px;
		margin: 0 auto;
		position: relative;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: calc(100% - 20px);
		max-width: 1520px;
		margin: 0 auto;
		position: relative;
	}
}