.header {
	background-color: #c0e4f4;
	padding: 20px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	background-color: var(--accent);
	// background-image: url('./../../img/komanda.jpg');
	background-position: center center;
	/* x y */
	background-size: cover;
	background-repeat: no-repeat;


	@include mediaBg() {
		// background-image: url('./../../img/komanda@2x.jpg');
	}
}

.header__nav {
	@include mobile {
		display: none;
	}
}